!!! 5
%html
  = partial "shared/head"

  %body{class: "#{page_classes}#{" layout-" + current_page.data.layout if current_page.data.layout != nil}"}
    = partial "shared/header"

    .content= yield

    = partial "shared/footer"
