!!! 5
%html
  = partial "shared/head"

  %body{class: page_classes}
    = partial "shared/header"

    .content= yield

    = partial "shared/footer"
    = javascript_include_tag "application", "data-turbolinks-track" => true
