- wrap_layout :layout do
  %article
    .title
      %time= simple_date(current_page.date)
      %h1= current_page.data.title
    = yield

    - if current_page.data.tags
      %ul.tags
        - current_page.data.tags.each do |tag|
          %li= link_to tag, "tags/#{tag}.html"

