- wrap_layout :layout do
  %article.post
    .title
      %time= simple_date(current_page.date)
      %h1= current_page.data.title
    = yield


    - if current_page.data.tags
      - tags = current_page.data.tags
      %ul.tags
        %li= link_to current_page.date.year, blog_year_path(current_page.date.year)
        - if tags.respond_to?('each')
          - tags.to_a.each do |tag|
            %li= link_to tag, "tags/#{tag}.html"
        - else
          %li= link_to tags, "tags/#{tags}.html"

    - if current_page.data.share == true
      .share
      :coffeescript
        $ ->
          $(".share").share
            url: "#{current_page.url}"
            text: "#{current_page.data.title} (#{current_page.url})"
            color: "#999"
            background: "#efefef"

  - prev_article = current_article.previous_article
  - next_article = current_article.next_article
  %ul.pagination.post-pagination
    - if prev_article
      %li.prev
        = link_to prev_article.url do
          .pagination-direction.ss-navigateleft Previous
          %p= prev_article.title

    - if next_article
      %li.next
        = link_to next_article.url do
          .pagination-direction.ss-navigateright.right Next
          %p= next_article.title

