%ul.left-nav
  %li.nav-home
    = link_to "/", class: "ss-home" do
      // So we can hide the lable in the header without hiding the icon
      %span Home
%ul
  %li
    = link_to "/blog", class: "ss-openbook" do
      %span Family
  %li
    = link_to "/blog2", class: "ss-write" do
      %span Snapshot
  %li
    = link_to "/blog3", class: "ss-globe" do
      %span History
  %li
    = link_to "/portfolio", class: "ss-camera" do
      %span Portfolio
  %li
    = link_to "/contact", class: "ss-send" do
      %span Contact
  %li
    = link_to "/about", class: "ss-user" do
      %span About
